In [1]:
!pip install pandas
!pip install bs4
!pip install requests
!pip install plotly

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (4.0.0)
Requirement already satisfied: plotly in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from plotly) (1.15.0)

Use the `requests` library to download the webpage [https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true](https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

Parse the html data using `beautiful_soup`.

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url='https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true'
html_data=requests.get(url).text
soup=BeautifulSoup(html_data, 'html.parser')
tag_title=soup.title
tag_title

In [16]:
amazon_data=pd.DataFrame(columns=["Date","Open","High","Low","Close","Volume"])
for row in soup.find("tbody").find_all("tr"):
    col=row.find_all("td")
    date=col[0].text
    Open=col[1].text
    High=col[2].text
    Low=col[3].text
    Close=col[4].text
    Volume=col[5].text
    amazon_data=amazon_data.append({"Date":date,"Open":Open,"High":High,"Low":Low,"Close":Close,"Volume":Volume},ignore_index=True)
amazon_data

            Date      Open      High       Low     Close    Volume
0   Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20
1   Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93
2   Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04
3   Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15
4   Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73
..           ...       ...       ...       ...       ...       ...
56  May 01, 2016    663.92    724.23    656.00    722.79    722.79
57  Apr 01, 2016    590.49    669.98    585.25    659.59    659.59
58  Mar 01, 2016    556.29    603.24    538.58    593.64    593.64
59  Feb 01, 2016    578.15    581.80    474.00    552.52    552.52
60  Jan 01, 2016    656.29    657.72    547.18    587.00    587.00

[61 rows x 6 columns]

In [31]:
amazon_data.loc[amazon_data["Date"]=="Jun 01, 2019"]

            Date      Open      High       Low     Close    Volume
19  Jun 01, 2019  1,760.01  1,935.20  1,672.00  1,893.63  1,893.63