In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (4.0.0)

<h2 id="BSO">Beautiful Soup Objects</h2>

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [4]:
soup=BeautifulSoup(html,'html5lib')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

## Tags

In [5]:
#Using the object <code>sibling_2</code> and the method <code>next_sibling</code> to find the salary of Stephen Curry:
tag_object=soup.p
tag_object
sibling_1=tag_object.next_sibling
sibling_1
sibling_2=sibling_1.next_sibling
sibling_2

In [6]:
soup.get('id')

In [7]:
tag_string=sibling_1.string
tag_string

' Stephen Curry'

<h2 id="filter">Filter</h2>

In [8]:
# filtering by find_all
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"
table_bs=BeautifulSoup(table,'html5lib')
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

In [9]:
first_row=table_rows[0]
first_row

In [10]:
first_row.td

In [11]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('column',j,"cell", cell)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
column 2 cell <td>300 kg</td>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
column 2 cell <td>80 kg</td>

In [12]:
table_bs.find_all(id="flight")

In [13]:
table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [14]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [15]:
#find all the elements without href value

table_bs.find_all(href=False)

[<html><head></head><body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body></html>,
 <head></head>,
 <body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body>,
 <table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table>,
 <tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <a> </a>,
 <td>80 kg</td>]

In [16]:
#Using the soup object soup, find the element with the id attribute content set to "boldest".capitaliz
soup=BeautifulSoup(html,'html5lib')
soup.find_all(id='boldest')

In [17]:
#To get all links in a website

url="http://www.ibm.com"
data=requests.get(url).text
soup=BeautifulSoup(data,'html5lib')
for link in soup.find_all('a',href=True):
    print(link.get('href'))

https://www.ibm.com/ca/en

https://www.ibm.com/ca-en/products?lnk=hpmps_bupr_caen&lnk2=link
https://www.ibm.com/industries?lnk=hpmps_buin_caen&lnk2=link
https://www.ibm.com/artificial-intelligence?lnk=hpmps_buai_caen&lnk2=link
https://www.ibm.com/automation?lnk=hpmps_buau_caen&lnk2=link
https://www.ibm.com/blockchain?lnk=hpmps_bubc_caen&lnk2=link
https://www.ibm.com/business-operations?lnk=hpmps_buop_caen&lnk2=link
https://www.ibm.com/cloud?lnk=hpmps_bucl_caen&lnk2=link
https://www.ibm.com/analytics?lnk=hpmps_buda_caen&lnk2=link
https://www.ibm.com/it-infrastructure?lnk=hpmps_buit_caen&lnk2=link
https://www.ibm.com/security?lnk=hpmps_buse_caen&lnk2=link
https://www.ibm.com/supply-chain?lnk=hpmps_busc_caen&lnk2=link
https://www.ibm.com/financing?lnk=hpmps_bufi_caen&lnk2=link
https://www.ibm.com/ca-en/products?lnk=hpmps_buall_caen&lnk2=link

https://www.ibm.com/services/process?lnk=hpmsc_bups_caen&lnk2=link
https://www.ibm.com/services/ibmix/?lnk=hpmsc_budbs_caen&lnk2=link
https://www.ibm.com/services/cloud?lnk=hpmsc_buhs?lnk=hpmsc_buhs_caen
https://www.ibm.com/talent-management?lnk=hpmsc_buta_caen&lnk2=link
https://www.ibm.com/services/applications?lnk=hpmsc_buas_caen&lnk2=link
https://www.ibm.com/garage?lnk=hpmsc_buas_caen&lnk2=link
https://www.ibm.com/security/services?lnk=hpmsc_buse_caen&lnk2=link
https://www.ibm.com/services/technology-support?lnk=hpmsc_busv_caen&lnk2=link
https://www.ibm.com/financing/solutions/it-services-financing?lnk=hpmsc_bufi_caen&lnk2=link
https://www.ibm.com/services?lnk=hpmsc_buall_caen&lnk2=link

https://www.ibm.com/support/ca/en/?lnk=hpmls_busu_caen&lnk2=link
https://www.ibm.com/support/knowledgecenter/?lnk=hpmls_budc_caen&lnk2=link
https://developer.ibm.com/?lnk=hpmls_bude_caen&lnk2=link
https://www.ibm.com/training/?lnk=hpmls_butr_caen&lnk2=link
https://www.ibm.com/blogs/?lnk=hpmls_bure_caen&lnk2=link
https://www.ibm.com/cloud/learn?lnk=hpmls_buwi_caen&lnk2=link

https://www.ibm.com/partnerworld/public?lnk=hpmex_bupa_caen&lnk2=link
https://www.research.ibm.com/?lnk=hpmex_bure_caen&lnk2=link
https://www.ibm.com/about?lnk=hpmex_buab_caen&lnk2=link
https://www.ibm.com/impact/covid-19?lnk=hpmex_buco_caen&lnk2=link
https://www.ibm.com/sitemap/ca/en
/ca-en/node/1706826
https://www.ibm.com/blogs/ibm-canada/2021/03/hybrid-cloud-the-new-normal-for-enterprise-transformation/?utm_medium=OSocial&utm_source=Blog&utm_content=000039VE&utm_term=10007446&utm_id=Hybrid-Cloud-Blog-EN%3Flnk%3Dhpv18l2
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/c7/fa/Coca-cola_CA_Homepage_Leadspace_Desktop.jpg
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/16/1f/Coca-Cola_CA_Homepage_Leadspace_Mobile.jpg
https://1.dam.s81c.com/m/7401c562cef06861/original/Culinary_think.jpg
https://www.ibm.com/case-studies/coca-cola-european-partners-1/?utm_medium=OSocial&utm_source=Blog&utm_content=000040UV&utm_term=10014626&utm_id=SocialLeadDHCocoColaCaseStudyCloud-Homepage%3Flnk%3Dhpv18l1
/taxonomy/term/85416
/ca-en/node/2384286
https://www.ibm.com/kyndryl?lnk=hpv18nf
/taxonomy/term/85416
/ca-en/node/1706851
/ca-en/node/1706846
/ca-en/node/1706831
/ca-en/node/1706836
/ca-en/node/1706841
/taxonomy/term/85416
/ca-en/node/1706821
/taxonomy/term/85416
https://www.ibm.com/employment/ca/en/?lnk=fab
/ca-en/node/1706816
https://www.ibm.com/ca-en/products/offers-and-discounts?link=caenhpv18t5&lnk2=trial_mktpl_MPDISC
/ca-en/node/1706801
/ca-en/node/2281350
/ca-en/node/2281352
/ca-en/node/1706796
/taxonomy/term/85416
/ca-en/node/1706866
/ca-en/node/1706861
/taxonomy/term/85416
/ca-en/products
https://www.ibm.com/case-studies/coca-cola-european-partners-1/?utm_medium=OSocial&utm_source=Blog&utm_content=000040UV&utm_term=10014626&utm_id=SocialLeadDHCocoColaCaseStudyCloud-Homepage%3Flnk%3Dhpv18l1
https://www.ibm.com/case-studies/coca-cola-european-partners-1/?utm_medium=OSocial&utm_source=Blog&utm_content=000040UV&utm_term=10014626&utm_id=SocialLeadDHCocoColaCaseStudyCloud-Homepage%3Flnk%3Dhpv18l1
https://www.ibm.com/kyndryl?lnk=hpv18nf
https://www.ibm.com/cloud/financial-services?utm_medium=OSocial&utm_source=Blog&utm_content=000040UV&utm_term=10014626&utm_id=SocialLeadDHIBMCloudFSLaunch-Homepage%3Flnk%3Dhpv18f1
https://newsroom.ibm.com/2021-03-11-IBM-Positioned-as-a-Leader-in-Two-Newly-Released-Gartner-Magic-Quadrant-Reports?utm_medium=OSocial&utm_source=Blog&utm_content=000040UV&utm_term=10014626&utm_id=SocialLeadDHGartnerMagicQuadNewsroom-Homepage%3Flnk%3Dhpv18f2
https://www.ibm.com/case-studies/north-york-general-hospital-hybrid-cloud-cognos-analytics/?utm_medium=OSocial&utm_source=Blog&utm_content=000040UV&utm_term=10014626&utm_id=SocialLeadDHNorthYorkGeneralCloud-HOMEPAGE%3Flnk%3Dhpv18f3
https://developer.ibm.com/conferences/digital-developer-conference-ai-automation-integration/?utm_medium=OSocial&utm_source=Blog&utm_content=000040UV&utm_term=10014626&utm_id=SQUADDataAIDeveloperConferenceApr20-Homepage%3Flnk%3Dhpv18f4
https://www.ibm.com/ca-en/products/offers-and-discounts?link=caenhpv18t5&lnk2=trial_mktpl_MPDISC
https://www.instana.com/how-instana-dynamic-apm-works/
https://www.ibm.com/ca-en/products/cognos-analytics?lnk=STW_CA_HPT_T2_BLK&psrc=NONE&pexp=DEF&lnk2=trial_CogAnalytics
https://www.ibm.com/products/cloud-pak-for-data?lnk=STW_CA_HPT_T3_BLK&psrc=NONE&pexp=DEF&lnk2=trial_CloudPakData
https://www.ibm.com/ca-en/products/maximo?lnk=STW_CA_HPT_T4_BLK&psrc=NONE&pexp=DEF&lnk2=trial_Maximo
https://www.ibm.com/search?lang=en&amp;cc=ca&amp;q=
/ca-en/products
/ca-en/products
//www.ibm.com/ca-en/products/category/technology/analytics
//www.ibm.com/ca-en/products/category/technology/cloud-computing
//www.ibm.com/ca-en/products/category/technology/mobile-technology
//www.ibm.com/ca-en/products/category/technology/cognitive-computing-and-AI
//www.ibm.com/ca-en/products/category/technology/IT-infrastructure
//www.ibm.com/ca-en/products/category/technology/security
//www.ibm.com/ca-en/products/category/technology/blockchain
//www.ibm.com/ca-en/products/category/technology/IT-management
//www.ibm.com/ca-en/products/category/technology/software-development
//www.ibm.com/ca-en/products/category/technology/analytics
//www.ibm.com/ca-en/products/category/technology/cloud-computing
//www.ibm.com/ca-en/products/category/technology/mobile-technology
//www.ibm.com/ca-en/products/category/technology/cognitive-computing-and-AI
//www.ibm.com/ca-en/products/category/technology/IT-infrastructure
//www.ibm.com/ca-en/products/category/technology/security
//www.ibm.com/ca-en/products/category/technology/blockchain
//www.ibm.com/ca-en/products/category/technology/IT-management
//www.ibm.com/ca-en/products/category/technology/software-development
//www.ibm.com/ca-en/products/category/business/business-operations
//www.ibm.com/ca-en/products/category/business/content-management
//www.ibm.com/ca-en/products/category/business/human-resources
//www.ibm.com/ca-en/products/category/business/collaboration
//www.ibm.com/ca-en/products/category/business/customer-service-and-CRM
//www.ibm.com/ca-en/products/category/business/marketing
//www.ibm.com/ca-en/products/category/business/commerce
//www.ibm.com/ca-en/products/category/business/finance
//www.ibm.com/ca-en/products/category/business/supply-chain-management
https://www.ibm.com/cloud/watson-natural-language-understanding?lnk=hpv18cs1
https://www.ibm.com/cloud/watson-natural-language-understanding?lnk=hpv18cs1
https://www.ibm.com/cloud/watson-natural-language-understanding?lnk=hpv18cs1
##
https://www.ibm.com/cloud/watson-natural-language-understanding?lnk=hpv18cs1
https://www.ibm.com/cloud/watson-natural-language-understanding?lnk=hpv18cs1
##
https://www.ibm.com/cloud/watson-natural-language-understanding?lnk=hpv18cs1
https://www.ibm.com/cloud/watson-natural-language-understanding?lnk=hpv18cs1
https://www.ibm.com/cloud/watson-natural-language-understanding?lnk=hpv18cs1
https://www.ibm.com/employment/ca/en/?lnk=fab
https://www.ibm.com/employment/ca/en/?lnk=fab
https://www.ibm.com/ca-en/products?lnk=fdi-caen
https://www.ibm.com/services/en-us/?lnk=fdi
https://www.ibm.com/industries/en-us/?lnk=fdi
https://www.ibm.com/case-studies?lnk=fdi
https://www.ibm.com/partnerworld/wps/servlet/ContentHandler/partnerworld-home?lnk=mdev_pw_caen&lnk2=learn
https://www.ibm.com/support/home/?lnk=msu_usen
https://www.ibm.com/partnerworld/wps/bplocator/search.jsp?lnk=fcw-caen
https://www.ibm.com/employment/ca/en/?lnk=fab_caen
https://www.ibm.com/news/ca/en/?lnk=fab-caen
https://www.ibm.com/blogs/ibm-canada/?lnk=fab-caen
https://www.ibm.com/investor/?lnk=fab-caen
https://www.ibm.com/ibm/responsibility/?lnk=fab-caen
https://www.ibm.com/ca-en/about
https://www.ibm.com/contact/ca/en/?lnk=flg-cont-caen
https://www.ibm.com/privacy/ca/en/?lnk=flg-priv-caen
https://www.ibm.com/ca-en/legal?lnk=flg-tous-caen
https://www.ibm.com/accessibility/ca/en/?lnk=flg-acce-caen
#

## Scrape data from HTML tables

In [18]:
#Get all rows from the table using find and find_all
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
data=requests.get(url).text
soup=BeautifulSoup(data,'html.parser')
table=soup.find("table")
for row in table.find_all('tr'):
    cols=row.find_all('td')
    color_name=cols[2].string
    color_code=cols[3].string
    print("{}---{}".format(color_name,color_code))

Color Name---None
lightsalmon---#FFA07A
salmon---#FA8072
darksalmon---#E9967A
lightcoral---#F08080
coral---#FF7F50
tomato---#FF6347
orangered---#FF4500
gold---#FFD700
orange---#FFA500
darkorange---#FF8C00
lightyellow---#FFFFE0
lemonchiffon---#FFFACD
papayawhip---#FFEFD5
moccasin---#FFE4B5
peachpuff---#FFDAB9
palegoldenrod---#EEE8AA
khaki---#F0E68C
darkkhaki---#BDB76B
yellow---#FFFF00
lawngreen---#7CFC00
chartreuse---#7FFF00
limegreen---#32CD32
lime---#00FF00
forestgreen---#228B22
green---#008000
powderblue---#B0E0E6
lightblue---#ADD8E6
lightskyblue---#87CEFA
skyblue---#87CEEB
deepskyblue---#00BFFF
lightsteelblue---#B0C4DE
dodgerblue---#1E90FF

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [19]:
!pip install BeautifulSoup
import pandas as pd
import requests
from bs4 import BeautifulSoup
url= "https://en.wikipedia.org/wiki/World_population" 
data=requests.get(url).text
soup=BeautifulSoup(data,"html5lib")
tables=soup.find_all('table')
len(tables)
for index,table in enumerate(tables):
    if("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

Collecting BeautifulSoup
  Using cached https://files.pythonhosted.org/packages/40/f2/6c9f2f3e696ee6a1fb0e4d7850617e224ed2b0b1e872110abffeca2a09d4/BeautifulSoup-3.2.2.tar.gz
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-theilmrb/BeautifulSoup/setup.py", line 3
        "You're trying to run a very old release of Beautiful Soup under Python 3. This will not work."<>"Please use Beautiful Soup 4, available through the pip package 'beautifulsoup4'."
                                                                                                        ^
    SyntaxError: invalid syntax
    ----------------------------------------
ERROR: Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-theilmrb/BeautifulSoup/
5

In [20]:

population_data=pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])
for row in tables[table_index].tbody.find_all("tr"):
    col=row.find_all("td")
    if(col!=[]):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank       Country     Population       Area Density
0    1     Singapore      5,704,000        710   8,033
1    2    Bangladesh    170,480,000    143,998   1,184
2    3       Lebanon      6,856,000     10,452     656
3    4        Taiwan     23,604,000     36,193     652
4    5   South Korea     51,781,000     99,538     520
5    6        Rwanda     12,374,000     26,338     470
6    7         Haiti     11,578,000     27,065     428
7    8   Netherlands     17,580,000     41,526     423
8    9        Israel      9,340,000     22,072     423
9   10         India  1,375,630,000  3,287,240     418

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

In [36]:
import pandas as pd
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170480000     143998              1184
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17580000      41526               423
8     9       Israel     9340000      22072               423
9    10        India  1375630000    3287240               418

## Scrape data from HTML tables into a DataFrame using read_html

In [38]:
dataframe_list = pd.read_html(url, flavor='bs4')
len(dataframe_list)

26

In [39]:
dataframe_list[7]

    Year  Population Yearly change           Density(pop/km2)  \
    Year  Population             %    Number Density(pop/km2)
0   1951  2584034261         1.88%  47603112               17
1   1952  2630861562         1.81%  46827301               18
2   1953  2677608960         1.78%  46747398               18
3   1954  2724846741         1.76%  47237781               18
4   1955  2773019936         1.77%  48173195               19
..   ...         ...           ...       ...              ...
65  2016  7464022000         1.14%  84225000               50
66  2017  7547859000         1.12%  83837000               51
67  2018  7631091000         1.10%  83232000               51
68  2019  7713468000         1.08%  82377000               52
69  2020  7795000000         1.05%  81331000               52

   Urban population
             Number    %
0         775067697  30%
1         799282533  30%
2         824289989  31%
3         850179106  31%
4         877008842  32%
..              ...  ...
65       4060653000  54%
66       4140189000  55%
67       4219817000  55%
68       4299439000  56%
69       4378900000  56%

[70 rows x 7 columns]

In [43]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170480000     143998              1184
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17580000      41526               423
8     9       Israel     9340000      22072               423
9    10        India  1375630000    3287240               418